<div class="container">
  <div class="row">
    <div class="table-responsive">
      <table>
        <tr>
          <th>Id</th>
          <th>Name</th>
          <th>Brewery_type</th>
          <th>street</th>
          <th>address_2</th>
          <th>address_3</th>
          <th>city</th>
          <th>state</th>
          <th>country Province</th>
          <th>postal Code</th>
          <th>country</th>
          <th>Longitude</th>
          <th>Latitude</th>
          <th>Website_url</th>
          <th>Updated_at</th>
          <th>Created_at</th>
        </tr>
        <tr *ngFor="let datas of httpData">
          <td>{{datas.id}}</td>
          <td>{{datas.name}}</td>
          <td>{{datas.brewery_type}}</td>
          <td>{{datas.street}}</td>
          <td>{{datas.address_2}}</td>
          <td>{{datas.address_3}}</td>
          <td>{{datas.city}}</td>
          <td>{{datas.state}}</td>
          <td>{{datas.country_province}}</td>
          <td>{{datas.postal_code}}</td>
          <td>{{datas.country}}</td>
          <td>{{datas.longitude}}</td>
          <td>{{datas.latitude}}</td>
          <td>{{datas.phone}}</td>
          <td>{{datas.website_url}}</td>
          <td>{{datas.updated_at}}</td>
          <td>{{datas.created_at}}</td>
        </tr>
      </table>
    </div>
  </div>
</div>